/* css index */

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    margin: auto;
    height: 8rem;
    padding: 1em;
}

.logo img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

